<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    I-SEE-YOU
  </title>
  <meta name="version" content="0.1.2">
  <meta name="git-commit" content="6e1699e9a7697b1db15b348ebd3d2d1643a1e348">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div id="loginCard">
    <img src="/images/logo.png">
    <br><br>
    <button type="button" id="Register" class="btn btn-outline-primary"
      onclick="window.location.href='/users/register'">Register</button>
    <br>
    <button type="button" id="Login" class="btn btn-outline-primary"
      onclick="window.location.href='/users/login'">Login</button>
    <br>
    <!-- <button type="button" id="showUserScreen" class="btn btn-outline-primary"
      onclick="window.location.href='./users/user'">Show User Screen</button> -->
  </div>
</body>

</html>
