<div class="col-md-2 px-5 py-5" id="sidebar">
    <img class="pb-5" src="/images/logo.png">
    <a href="/">Clipboard</a>
    <a href="#">Update details</a>
    <!--previously linked to userList.html-->
    <a href="#">Account</a>
    <!--previously linked to permission.html-->
    <!--logout option will be defined under settings to avoid accidental logout-->
  </div>