html, body {
    height: 100vh !important;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-image: url("../images/background.jpg");
    border: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px; 
}
#loginCard {
    background-color: white;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}
#Register {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px;
    padding-right: 110px;
}
#Login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 119px;
    padding-right: 119px;
}
#showUserScreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 77px;
    padding-right: 77px;
}
#RegisterDiv {
    display: block;
    background-color: white;
    min-height: 610px;
    min-width: 300px;
    max-width: 400px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}
.btnBack {
    background-color: white; /* Blue background */
    /* border: 2px dodgerblue solid; Remove borders */
    /* color: dodgerblue; White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-left: 20px;
}
.btnBack:hover {
    background-color: dodgerblue;
    color: white;
}
#EmailInput, #GenderInput, #RefIDInput {
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
}
#PasswordInput, #ConfirmPasswordInput, 
#NameInput, #ContactInput,#DocAssignedInput,#TrustedUserInput {
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
}
#SubmitButton {
    padding-top: 10px;
    padding-left: 10px;
}
#LoginDiv {
    display: block;
    background-color: white;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}
#ReferralInput {
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
}
#userScreen {
    display: block;
    background-color: white;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}
#liveORchat {
    background-color: white;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    border-radius: 20px;
    border: 2px solid skyblue;
    display: block;
}
#GoLiveButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 113px;
    padding-right: 113px;
}
#ViewLiveButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}
#ChatButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 123px;
    padding-right: 123px;
}
#buttonDiv {
    margin-top:0%;
    padding-bottom: 5%;
    background-color:white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#callButton {
    border-radius: 50%;
    margin-left: 40%;
    background-color: seagreen;
}
#hangupButton {
    border-radius: 50%;
    background-color: red;
}
#chatBig,#live {
    display: block;
    background-color: white;
    height: 725px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}
#logoOnly {
    display: block;
    background-color: white;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px; 
    border-radius: 20px;
}

#logoDiv {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

img {
  max-height: 200px !important;
}

#container {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 700px;
    width: 534px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
    border-radius: 20px;
    margin-right: 18px;
    margin-bottom: 15px;
}
#localVideo {
    height: 399px;
    width: 533px;
    border-radius: 20px;
    border: 2px solid white;
    position: absolute;
    right: 0;
    bottom: 0;
}
#goLiveLocalVideo {
    height: 725px;
    width: 1500px;
    border-radius: 20px;
    border-bottom: 2px solid skyblue;
    border-right: 2px solid skyblue;
    position: absolute;
    background-color: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: initial;
    background-attachment: initial;
    background-position: center; 
    /* right: 0;
    bottom: 0; */
}
#viewLiveRemoteVideo {
    height: 725px;
    /* width: 1518px; */
    width: 1500px;
    border-radius: 20px;
    border-bottom: 2px solid skyblue ;
    border-right: 2px solid skyblue ;
    background-color: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: initial;
    background-attachment: initial;
    background-position: center;     
}
#remoteVideo,#remoteVideo1,#remoteVideo2,#remoteVideo3 {
    height: 703px;
    /* width: 1518px; */
    width: 933px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: initial;
    background-attachment: initial;
    background-position: center;    
    margin-left: 10px;
    margin-top: 35px;   
}

#sidebar{
    padding: 10px;
    /* position: absolute; */
    height: 100vh;
    z-index: 1;
    top: 0;
    /*background-color: rgba(255,255,255,0.4);*/
    background: rgba(17,38,95,0.5);
    overflow-x: hidden;
    /*background-color: #11265F;*/
}
#sidebar a{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    text-decoration: none;
    /*color: rbg(17,38,95);*/
    color: white;
    font-size: 20px;
}

#sidebar a:hover{
    font-size: 130%;       
}

.staffpagediv {
    background-color: white;
    /*min-height: 80%;
    min-width: 80%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; */
    border-radius: 20px;
    border: 2px solid skyblue;
}

.col-centered{
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    float: none;
}

#RegisterPatient{
    display: block;
    background-color: white;
    min-height: 80vh;
    min-width: 60vh;
    max-width: 60vh;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    border-radius: 20px;
    border: 2px solid skyblue;
}

td,th {
  padding: 15px;
  text-align: center;
}
