<%- include('../../layout/head'); -%>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">

        <%- include('../../layout/staffSidebar'); -%>

        <div class="col-md-10 " id="target">
          <div id="RegisterPatient">
            <!-- <img src="/images/logo.png"> -->

            <form action="/staff/other/create" method="POST">

              <div class="form-group" id="NameInput">
                <input name="name" type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group" id="EmailInput">
                <input name="email" type="email" class="form-control" placeholder="Email ID">
              </div>
              <div class="form-group" id="GenderInput">
                <select class="form-control" name="gender">
                  <option value="male">Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="form-group" id="ContactInput">
                <input name="contact" type="text" class="form-control" placeholder="Patient's Contact Number">
              </div>
              <div class="form-group" id="RefIDInput">
                <input name="refCode" type="text" class="form-control" placeholder="Reference ID">
              </div>
              <div class="form-group" id="DocAssignedInput">
                <input name="doctor" type="text" class="form-control" placeholder="Assigned Doctor's ID">
              </div>
              <div id="SubmitButton">
                <button type="submit" class="btn btn-outline-primary"
                  style="display: block;margin: auto;">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
