<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            I-SEE-YOU : Enter Referral Code
        </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <div id="userScreen">
            <img src="/images/logo.png">
            <br>
            <a href="/files/golive.html" class="btn btn-outline-primary"
            style="padding-left: 100px; padding-right: 100px; margin: 0 auto; display: block;">Go Live</a>
            <br><br>
            <a href="/files/chatp.html" class="btn btn-outline-primary"
            style="padding-left: 100px; padding-right: 100px; margin: 0 auto; display: block;">Chat</a>

        </div>
    </body>
</html>