<%- include('../layout/head'); -%>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">

        <%- include('../layout/staffSidebar'); -%>
        
        <div class="col-md-10 " id="target">
          <div class="row mx-5 my-5">
      

          <% if (typeof userPatients !== 'undefined') {
              for(let i=0; i<userPatients.length; i++) {
                let p = userPatients[i];
          %>
            <p><%= p%> - </p>
          <% }
          } %>

        <div class="addRefCode">
          <form action="/action/addRefCode" method="POST">
            <input type="text" name="refCode" id="refCode">
            <input type="submit" value="Connect">
          </form>
        </div>

        <% if (typeof docPatients !== 'undefined') { %>
        <hr>
        <% for(let i=0; i<docPatients.length; i++) {
            let p = docPatients[i];
        %>
          <h1><%= p%></h1>
        <% }
        } %>
    </div>
  </div>

</body>

</html>