<%- include('../layout/head'); -%>

<body>
  <section>
    <div class="container-fluid">
      <div class="row">

        <%- include('../layout/userSidebar'); -%>
        
        <div class="col-md-10 " id="target">
          <div class="row mx-5 my-5">

          <% if (typeof userPatients !== 'undefined') {
              for(let i=0; i<userPatients.length; i++) {
                let p = userPatients[i];
          %>
            <p><%= p%> - </p>
          <% }
          } %>
    </div>
  </div>

</body>

</html>