<!DOCTYPE html>
<html lang="en">

<head>
  <title>I-SEE-U: CHAT</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <video id="remoteVideo" playsinline autoplay></video>
  <div id="container">
    <div id="logoDiv">
      <img src="/images/logo.png">
    </div>
    <div id="buttonDiv">
      <button id="callButton" type="button" class="btn btn-primary"><i class="fas fa-phone"></i></button>
      <button id="hangupButton" type="button" class="btn btn-primary"><i class="fas fa-phone-slash"></i></button>
    </div>
    <div>
      <video id="goLiveLocalVideo" playsinline autoplay muted></video>
    </div>
  </div>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

  <script>
    let patID = '<%= from%>';
    let from = '<%= from%>';
    let to = '<%= to%>';
  </script>
  <script src="/javascripts/golive-dynamic.js"></script>
</body>

</html>