<div class="col-md-2 px-5 py-5" id="sidebar">
  <img class="pb-5" src="/images/logo.png">
  <a href="/staff/doctor/clipboard">Clipboard</a>
  <a href="/staff/doctor/viewPatient">View Patient details</a>
  <a href="/staff/logout">Logout</a>
</div>