<div class="col-md-2 px-5 py-5" id="sidebar">
    <img class="pb-5" src="/images/logo.png">
    <a href="/staff/other/clipboard">Clipboard</a>
    <a href="/staff/other/create">Add Patient</a>
    <a href="/staff/other/details">Patient Details</a>
    <a href="/staff/logout">Logout</a>
  </div>