<div class="col-md-2 px-5 py-5" id="sidebar">
  <img class="pb-5" src="/images/logo.png">
  <a href="/users/connect">Connect</a>
  <!-- <a href="/users/requests">pending requests</a>
  <a href="/users/permissions">permissions</a> -->
  <a href="/users/logout">Logout</a>
</div>