<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    I-SEE-YOU
  </title>
  <meta name="version" content="0.1.2">
  <meta name="git-commit" content="6e1699e9a7697b1db15b348ebd3d2d1643a1e348">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <br>
  <div>
    <form action="" method="POST">
      <div class="form-group" id="ReferenceCodeInput">
        <input name="Code" type="text" class="form-control" placeholder="Reference Code" required>
      </div>
      <div class="form-group" id="TrustedUserInput">
        <input name="trusteduser" type="text" class="form-control" placeholder="Trusted User's Phone Number" required>
      </div>
      <div class="form-group" id="DoctorAssingedInput">
        <input name="doctorAssinged" type="text" class="form-control" placeholder="Doctor Assigned" required>
      </div>
      <div class="form-group" id="NameInput">
        <input name="name" type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group" id="GenderInput">
        <input name="gender" type="text" class="form-control" placeholder="Gender">
      </div>
      <div class="form-group" id="ContactInput">
        <input name="contact" type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="form-group" id="EmailInput">
        <input name="email" type="email" class="form-control" placeholder="Email">
      </div>
      <div id="SubmitButton">
        <button type="submit" class="btn btn-outline-primary" style="padding-left: 118px; padding-right: 118px;">Create
          Patient Account</button>
      </div>
    </form>
  </div>

</body>

</html>