<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Paitent List</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 px-5 py-5" id="sidebar">
                <img class="pb-5" src="images/logo.png">
                <a href="registerpatient.html">Register a new Patient</a>
                <a href="#">Register an existing Patient</a>
                <a href="#">Update Patient Details</a>
                <a href="#">Settings</a>
                <a href="#">Logout</a>
            </div>
            <div class="col-md-10 " id="target">
                <div class="row mx-5 my-5">
                    <div class="col-4 mb-5">
                        <div class = "card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Paitent Name</h5>
                                <h6 class="card-subtitle">Reference ID</h6>
                                <p class="card-text">Paragraph with Patient Details</p>
                                <a href="#" class="btn btn-primary">Live Stream</a>
                                <a href="#" class="btn btn-primary">Video Call</a>
                            </div>
                        </div>
                    </div>
                    <!--Comment-->
                    <div class="col-4 mb-5">
                        <div class = "card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Paitent Name</h5>
                                <h6 class="card-subtitle">Reference ID</h6>
                                <p class="card-text">Paragraph with Patient Details</p>
                                <a href="#" class="btn btn-primary">Live Stream</a>
                                <a href="#" class="btn btn-primary">Video Call</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class = "card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Paitent Name</h5>
                                <h6 class="card-subtitle">Reference ID</h6>
                                <p class="card-text">Paragraph with Patient Details</p>
                                <a href="#" class="btn btn-primary">Live Stream</a>
                                <a href="#" class="btn btn-primary">Video Call</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-5">
                        <div class = "card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Paitent Name</h5>
                                <h6 class="card-subtitle">Reference ID</h6>
                                <p class="card-text">Paragraph with Patient Details</p>
                                <a href="#" class="btn btn-primary">Live Stream</a>
                                <a href="#" class="btn btn-primary">Video Call</a>
                            </div>
                        </div>
                    </div>
                    <!--Comment-->
                </div>
                <div class="row">
                        <div class="col-6 justify-content-center offset-md-3">
                                <div class = "card text-center">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group" id="refIDinput">
                                            <input name="refID" type = "text" class = "form-control" placeholder="Refernence ID of the Paitent">
                                            </div>   
                                            <div class="form+group" id="add">
                                                <button type="submit" class= "btn btn-primary">ADD</button>
                
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>